/* Estilos Globais */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

h1, h2 {
  color: #2c3e50;
}

.app {
  text-align: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

button {
  background-color: #5ac544;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #469636;
}

/* Estilos para a lista de produtos */
.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.product-card {
  border: 1px solid #e0e0e0;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card h3 {
  color: #34495e;
  font-size: 1.2rem;
}

.product-card p {
  font-size: 1rem;
  color: #7f8c8d;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


.cart {
  margin-top: 40px;
  background-color: #ecf0f1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.cart h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.cart ul {
  list-style-type: none;
  padding: 0;
}

.cart li {
  background-color: white;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart li span {
  color: #2c3e50;
  font-weight: 600;
}

.cart li::before {
  content: '🛒';
  margin-right: 10px;
  font-size: 1.2rem;
}

/* Responsividade */
@media (max-width: 768px) {
  .item-list {
    flex-direction: column;
    align-items: center;
  }

  .product-card {
    width: 90%;
  }

  .cart {
    width: 90%;
  }
}
