header {
    background-color: #81ca2e;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-bottom: 20px !important;
  }
  
  .menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
  }
  
  .menu a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    transition: color 0.3s ease;
  }
  
  .menu a:hover {
    color: #007bff;
    text-decoration: underline;
  }
  