/* * Estilos do Carrinho */

.cart {
    margin-top: 40px;
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .cart h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .cart ul {
    list-style-type: none;
    padding: 0;
  }
  
  .cart li {
    background-color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cart li span {
    color: #2c3e50;
    font-weight: 600;
  }
  
  .cart li::before {
    content: '🛒';
    margin-right: 10px;
    font-size: 1.2rem;
  }